.home-container {
  text-align: center;
  margin-top: 10px;
  background-color: rgb(249, 250, 249);
  padding: 50px;
  
}

.home-logo-container{
  height: auto;
  max-width: 100%;



}

.home-title {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

.home-description {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
}

.home-links {
  display: flex;
  justify-content: center;
 
}

.home-link {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: yellow;
  color: blue;
  text-decoration: none;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.home-link:hover {
  background-color: #ffd700;
  color: blue;
}
