.student-applications {
    text-align: center;
  }
  
  .application-list {
    list-style: none;
    padding: 0;
  }
  
  .application-list li {
    margin-bottom: 20px;
    text-align: left;
  }
  
  h3 {
    margin: 0;
  }
  