.job-listing-management-container {
    text-align: center;
  }
  
  .section-title {
    color: #0941d2;
  }
  
  .job-list {
    list-style: none;
    padding: 0;
  }
  
  .job-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .job-list-item .job-info {
    flex-grow: 1;
  }
  
  .job-list-item h3 {
    margin: 0;
  }
  
  .job-list-item p {
    margin: 5px 0;
  }
  
  .job-list-item .buttons {
    display: flex;
    align-items: center;
  }
  
  .job-list-item .buttons button {
    margin-left: 10px;
  }
  